<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.runner.Menu2"/>
      <class name="com.runner.Executing_test_cases"/>
      <class name="com.runner.FooterCA"/>
      <class name="com.runner.FooterIcon"/>
      <class name="com.runner.Menu5"/>
      <class name="com.runner.BaseClass"/>
      <class name="com.runner.Menu1"/>
      <class name="com.runner.Spinner"/>
      <class name="com.runner.Signup"/>
      <class name="com.runner.Search"/>
      <class name="com.runner.Facebook"/>
      <class name="com.runner.Footer1ContactUs"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
